

> **Identifiers**:


It is used for defining variable name, class name, method name 


> **Rules:**




1.   a-z,A-Z,0-9,_
2.   Should not start with digit

1.   Case sensitive

1.   We can't use reserve words as identifiers
2.   No length limit

1.   _x==>private
2.   __x==>strongly private

1.   __ x __==>language specific identifier

In [0]:
x=10
X=100
print(x,X)

10 100

In [0]:
x=10 #small x
X=10 #capital x
hellomynameis='Gautam' 
# if=100 #using keyword
print(x,X,hellomynameis,sep=' --->')

10 --->10 --->Gautam



> **Reserve words / Keywords:** Used to define syntax and structure of python, there are 33 Reserve words in python


*  True,False,None

*   and,or,not,is

*   if,else,elif
*   while,for,break,continue,return,in,yield(***do-while and switch is not available***)


*   try,except,finally,raise,assert


*   import,from,as,class,def,pass,global,nonlocal,lambda,del,with



> **Note:**

1.  only alphabetic symbols

1.   Except first 3 all are in small letters

In [0]:
if x==10:
  pass

In [0]:
import keyword
keyword.kwlist



> **Data Types:**
In python Everything is an object

*   int ==> Integer values eg: 10,20,30
*   float ==> eg: 1.2,13.0
*   complex ==> eg: 10+2j
*   bool ==> eg: True,False
*   str ==>eg: 'Gautam'
*   bytearray
*   bytes
*   range ==> eg: (0-10)
*   list ==> eg: [10,20,30]
*   set ==> eg: {10,20,30}
*   tuple ==> eg:(10,20,30)
*   dict ==> eg: {'Gautam','Reddy'}
*   frozenset
*   None

> **Inbuilt Functions:**
*   print() ==> to print the value of an object
*   type() ==> for knowing the type of the object
*   id() ==> for knowing the address of the object

In [0]:
a=[10,2,2]
print(a)
print(type(a))
id(a)

[10, 2, 2]
<class 'list'>

140316811715784



> **Int:** Integer values,===> output will get only in Decimal form

*   Decimal :(0-9) eg: ==> 1893

*   Binary : (0,1) eg: ==> 0b1001010,0B10101
*   Octal :(0-7) eg: ==> 0o12302,0O12311


*   HexaDecimal :(0-F) eg: ==> 0xFace,0Xabc

> **Base Conversions:**

*   bin(15)
*   oct(15)

*  hex(15)


---



> **Float:** Decimal values eg:12.32,20.004,1.2e3(exponential form)


*   We can use only decimal format only, we can't use for binary, octal,hexadecimal  

*   Can represent in Exponential Form eg: 1.2e4

---
**Complex :** 

*   a+bj form ==> where a=Real part, b=Imaginary part , j^2=-1
*   'a' can take any format => Decimal, Binary, Octal, HexaDecimal 

*   'b' can take only ==> Decimal

*   eg: a= 10+20j ==>a.real=10,a.imag=20

---


> **Bool:** 
*   Allowed values True, False
*   True => 1, False => 0


---

In [0]:
a=(1j)
print(a**2)

(-1+0j)

In [0]:
a=1.25556e4
print(a)

12555.6

In [0]:
print(True+False)

1



> **Str:**

*   represented in single quote 

*   represented in double quote 
*   represented in triple quote ==> multiline string literals

*   No char data type is present , we can represent char using str only


> **Slice Operator / Sub-String:**


*   S[begin:end]==>returns sub-string from begin to end-1
*   begin must be lower, end must be higher

*   S[begin:end:step] ==> default value of step=1

In [0]:
a='''gautam "reddy"'''
print(a)

gautam "reddy"

In [0]:
a='Gautam'#single quote
b="Gautam Reddy"#double quote
c='''Gautam "Reddy"'''#triple quote
print(a,b,c,sep='\n')

Gautam
Gautam Reddy
Gautam "Reddy"

In [0]:
print(c[1:20:2])

atm"ed"

In [0]:
print(a[0])
print(a[-1])
print(a[-4:-1])
print(a[:])
print(a[1:100])
print(c[1:20:2])

G
m
uta
Gautam
autam
atm"ed"



> **Type Conversion of fundamental data types:** 


> **int:**

*   int(123.456) ==> 123
*   int(10+20j) ==> Type Error

*   int(True) ==> 1 
*   int("10") ==> 10

*   int("10.23") ==> Error decimal only accepted



> **float:**

*   float(123) ==> 123.0
*   float(10+20j) ==> Type Error

*   float(True) ==> 1.0
*   float("10") ==> 10.

*   float("10.23") ==> 10.23

*   float('ten') ==> value error
*   float(0b1111) ==> value error


> **complex:**

*   complex(x) => x+0j
*   complex(x,y) => x+yj

*   complex('ten') => value error
*   complex(10,20) => 10+20j

*   complex('10','20') => error



> **bool:**


*   bool(0.0) => False
*   bool(0.1) => True
*   bool(-10) => True
*   bool(0) => False
*   bool('') => False
*   bool(0+j) => True
*   bool('ten') => True



> **Str:**

*   str(10) => '10'

> **Note:**

*   All fundamental data types are immutable(once created we are not able to change the value).
*   one object multiple references for int type only upto (0-256), bool => always,str => always , float and complex always creates new object
*   At the time of python interpreter starts,from 0 to 256 integer objects will be created at the beginning



> **bytes:**It represents a group of byte numbers just like a number 



*   bytes is in the range 0-256

*   immutable


> **bytearray:**It represent a group of byte numbers just like a number

*   bytearray is in the range 0-256
*   mutable 
*   bytes and bytearray are used in images,video files and audio files

In [0]:
x=[10,20,3,5,6,89]
y=bytes(x)
print(type(y))
print(y[0])
z=bytearray(x)
print(z[1])
z[1]=2
print(z[1])

<class 'bytes'>
10
20
2



> **list:**

*   values are enclosed in []
*   Insertion order is preserved
*   Duplicates are allowed
*   heterogeneous data types are allowed (int, float,bool,str)
*   list is growable in nature(increase or decrease)
*   mutable
*   values are accessed using index
*   slice operator is also applicable

In [0]:
l=[]
l1=[1,2,3,1,2,3,'Gautam',True]
print(l,l1,sep='\n')
l2=l1*2
print(l2)
l3=l2[1:5:2]
print(l3)

[]
[1, 2, 3, 1, 2, 3, 'Gautam', True]
[1, 2, 3, 1, 2, 3, 'Gautam', True, 1, 2, 3, 1, 2, 3, 'Gautam', True]
[2, 1]



> **tuple:**

*   values are enclosed in ()
*   Insertion order is preserved
*   Duplicates are allowed
*   heterogeneous data types are allowed (int, float,bool,str)
*   tuple is growable in nature(increase or decrease)
*   immutable
*   values are accessed using index
*   slice operator is also applicable

In [0]:
t=()
t1=(1,2,3,1,2,3,'Gautam',True)
print(t,t1,sep='\n')
t2=t1*2
print(t2)
t3=t2[0:5]
print(t3)

()
(1, 2, 3, 1, 2, 3, 'Gautam', True)
(1, 2, 3, 1, 2, 3, 'Gautam', True, 1, 2, 3, 1, 2, 3, 'Gautam', True)
(1, 2, 3, 1, 2)



> **range:**


*   range data types represent a sequence of values
*   immutable
*   Form1: range(x) => It represent values from 0 to x-1
*   Form2: range(x,y) => It represent values from x to y-1
*   Form3: range(x,y,step) => It represent values from x to y-1 with step value
*   Not applicable for float, only applicable for integer type

In [0]:
print(range(10))
print(range(10,29))
print(range (10,50,5) )
for i in range(10,50,5):
  print(i)

range(0, 10)
range(10, 29)
range(10, 50, 5)
10
15
20
25
30
35
40
45



> **Set:**


*   values are enclosed in {}
*   Insertion order is not preserved
*   Duplicates are not allowed
*   heterogeneous data types are allowed (int, float,bool,str)
*   set is growable in nature(increase or decrease)
*   mutable
*   indexing and slicing are not applicable

In [0]:
s=set() #empty set declaration
s1={1,2,'Gautam'}
print(s,s1)

set() {1, 2, 'Gautam'}



> **frozenset:**

*   values are enclosed in {}
*   Insertion order is not preserved
*   Duplicates are not allowed
*   heterogeneous data types are allowed (int, float,bool,str)
*   immutable
*   indexing and slicing are not applicable

In [0]:
s1={1,2,'Gautam'}
s2=frozenset(s1)
print(s2)

frozenset({1, 2, 'Gautam'})



> **Dict:**



*   key and values pair
*   unordered 
*   values are enclosed in {}
*   duplicate keys are not allowed , but values can be duplicated
*   key and values can be heterogeneous
*   mutable
*   if we are using duplicate key, the old value will be replaced with new value

In [0]:
d={} #empty dictionary
d1={100:'Gautam','300':'Reddy'}
print(d,d1)

{} {100: 'Gautam', '300': 'Reddy'}



> **None:**



*   If function is not returning any value, then if we print the function we get None

In [0]:
def f1():
  a=10
print(f1())

None



> **raw_input vs input :**
* **raw_input :** It is used in python 2.x version only, take any type of data into string 
* **input() :** It is used in both 2.x and 3.x version ,In python 2.x version ,based on given input type will change automatically


---
> **input() in python 3 :**
* Any data provided to the input function is always takes into **string type**
* for conversions we have to use type casting

In [0]:
x=input('enter the number : ')
type(x)

enter the number : 3

str

In [0]:
eno=int(input('enter the employee no : '))
ename=input('enter the employee name : ')
esal=float(input('enter the employee salary : '))
eadd=input('enter the employee address : ')
emar=bool(input('Is employee married ? enter True | False : '))# if any string present bool will return true so in order to overcome this problem we will use eval
emar1=eval(input(('Is employee married ? enter True | False : ')))
print('employee no : ',eno)
print('employee name : ',ename)
print('employee salary : ',esal)
print('employee address : ',eadd)
print('employee married ? :', emar)
print('Employee married1 ? :',emar1)

enter the employee no : 12457
enter the employee name : Reddy
enter the employee salary : 1245789
enter the employee address : Bangalore
Is employee married ? enter True | False : False
Is employee married ? enter True | False : False
employee no :  12457
employee name :  Reddy
employee salary :  1245789.0
employee address :  Bangalore
employee married ? : True
Employee married1 ? : False



> **How to read multiple values from the keyword in a single line :**
* a,b=[int(x) for x in input('enter the 2 numbers : ').split()]

In [0]:
a,b=[int(x) for x in input('enter the 2 numbers : ').split()]
print('sum : ',a+b)
p,q=[int(x) for x in input('enter the 2 numbers : ').split(',')]
print('product : ',p*q)

enter the 2 numbers : 1 2
sum :  3
enter the 2 numbers : 1,8
product :  8

> **eval() :**
* eval will convert the type given input automatically to corresponding type

In [0]:
x=eval(input('enter the number'))
type(x)

enter the number10.34

float

> **command line arguments :**
* first command line argument is always name of the file but not the value provided
* It is present in sys module and present in argv

In [0]:
from sys import argv
type(argv)

list

> **sep :**
* The separator between the arguments to print() function in Python is space by default (softspace feature) , which can be modified and can be made to any character, integer or string as per our choice. 
* The ‘sep’ parameter is used to achieve the same, it is found only in python 3.x or later. It is also used for formatting the output strings

> **end :**
* By default python’s print() function ends with a newline
* Python’s print() function comes with a parameter called ‘end’. By default, the value of this parameter is ‘\n’, i.e. the new line character.
*  You can end a print statement with any character/string using this parameter

In [0]:
a,b,c,d=10,20,30,40
print(a,b,c,d,sep=':')
print('*'*20)
print(10,20,30,sep='=>',end='****')
print(40,50,60,sep=':')
print(70,80,sep='**',end='$$$$')
print(90,100)

10:20:30:40
********************
10=>20=>30****40:50:60
70**80$$$$90 100

In [0]:
print('Gowtham'+'Reddy')
print('Gowtham','Reddy')

GowthamReddy
Gowtham Reddy

> **print() with replacement operator {} :**

In [0]:
name='Gowtham'
dept='AI'
city='kgp'
print('hello my name is {} studying under the dept {} at {}'.format(name,dept,city))
print('hello my name is {1} studying under the dept {2} at {0}'.format(name,dept,city))
print('hello my name is {n} studying under the dept {d} at {c}'.format(n=name,c=city,d=dept))

hello my name is Gowtham studying under the dept AI at kgp
hello my name is AI studying under the dept kgp at Gowtham
hello my name is Gowtham studying under the dept AI at kgp



> **Escape characters:**


*   \n => new line
*   \t => horizontal tab
*   \r => carriage return => go to the post position of the line
*   \b => backspace
*   \f => formfeed => page down (go to next page)
*   \'=> single quote
*   \" => double quote
*   \\ => backslash
*   \v => vertical tab



> **Constant:**

*   No constants are available in python



> **Operators:**



*   Arithmetic operators
*   Relational operators or Comparision operators
*   Logical operators
*   Bitwise operators
*   Assignment operators
*   Special operators



> **Arithmetic operators:**Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division


*   addition => +
*   substraction => -
*   multiplication => *
*   division => /
*   modulo => % 
*   floor division => // , if both the operands are int then result is int , else float
*   exponent or power => **
*   Addition and multiplication operators are also applicable for string
    *   Addition => both must be string
   *   multiplication => atleast one operator must be int

In [0]:
a=35
b=2
c='Gautam'
d='Reddy'
print("a+b is",a+b)
print("a-b is",a-b)
print("a*b is",a*b)
print("a/b is",a/b)
print("a%b is",a%b)
print("a//b is",a//b)
print("a**b is",a**b)
print("string addition ==> ",c+d)
print("string multiplication ==> ",c*4)

a+b is 37
a-b is 33
a*b is 70
a/b is 17.5
a%b is 1
a//b is 17
a**b is 1225
string addition ==>  GautamReddy
string multiplication ==>  GautamGautamGautamGautam



> **Relational operators:**Relational operators compares the values. It either returns True or False according to the condition


*   greater than :   >
*   greater than or equalto : >=
*   less than: <
*   less than or equal to : <=
*   equal : ==
*   not equal : !=
*   Based on ASCII code the relational operation is done
*   chaining of relational operators is applicable

In [0]:
a=32
b=2
c='Gautam'
d='Reddy'
print('a>b is',a>b)
print('a>=b is',a>=b)
print('a<b is',a<b)
print('a<=b is',a<=b)
print('c>d is',c>d)
print('c<d is',c<d)
print('chaining relation:',a<b>c<d)
print('a equal b',a==b)
print('a not equal b',a!=b)

a>b is True
a>=b is True
a<b is False
a<=b is False
c>d is False
c<d is True
chaining relation: False
a equal b False
a not equal b True



> **Logical operators :**Logical operators perform Logical AND, Logical OR and Logical NOT operations


*   and
*   or
*   not

In [0]:
a = 199
b = 20
c= True
d= False
# Print a and b is min value 20 
print(a and b)   
# Print a or b is max value 199 
print(a or b) 

# Print c and d is False 
print(c and d) 
  
# Print c or d is True 
print(c or d) 
  
# Print not c is False 
print(not c)

20
199
False
True
False



> **Bitwise operators :**Bitwise operators acts on bits and performs bit by bit operation

*   Bitwise AND ==> &
*   Bitwise OR 	==> |
* 	Bitwise NOT ==> ~	
* 	Bitwise XOR ==> ^	
*	  Bitwise right shift ==> >> 	
* 	Bitwise left shift ==> <<

In [0]:
# Examples of Bitwise operators 
a = 10
b = 4
print(bin(a))
print(bin(b)) 
# Print bitwise AND operation   
print(a & b) 
  
# Print bitwise OR operation 
print(a | b) 
  
# Print bitwise NOT operation  
print(~b) 
  
# print bitwise XOR operation  
print(a ^ b) 
  
# print bitwise right shift operation  
print(b >> 2) 
  
# print bitwise left shift operation  
print(b << 2)

0b1010
0b100
0
14
-5
14
1
16



> **Assignment operators :**Assignment operators are used to assign values to the variables



*   Assign value of right side of expression to left side operand ==> = (e.g:a = b + c ) 
*   Add AND: ==> a+=b (e.g:a = a+b )
*   Subtract AND: ==> a-=b (e.g:a = a-b )
*   Multiply AND: ==> a*=b (e.g:a = a*b )
*   Divide AND: ==> a/=b (e.g:a = a/b )
*   Modulus AND: ==> a%=b (e.g:a = a%b )
*   Divide(floor) AND: ==> a//=b (e.g:a = a//b )
*   Exponent AND: ==> a**=b 
*   Bitwise AND: ==> a&=b (e.g:a = a&b )
*   Bitwise OR: ==> a|=b (e.g:a = a|b )
*   Bitwise xOR: ==> a^=b (e.g:a = a^b )
*   Bitwise right shift: ==> a>>=b (e.g:a = a>>b )
*   Bitwise left shift : ==> a<<=b (e.g:a = a<<b )

In [0]:
a=35
b=2
a+=b
print(a)

37



> **Special operators:**There are some special type of operators like:

*   **Identity operators**
*   **Membership operators**

> **Identity operators:** **is** and **is not** are the identity operators both are used to check if two values are located on the same part of the memory. Two variables that are equal does not imply that they are identical.


*   **is**   ==>      True if the operands are identical 
*   **is not** ==>     True if the operands are not identical

In [0]:

# Examples of Identity operators 
a1 = 3
b1 = 3
print(id(a1))
print(id(b1))
a2 = 'GeeksforGeeks'
b2 = 'Geeks forGeeks'
a3 = (1,2,3) 
b3 = (1,2,3)
  
  
print(a1 is b1) 
  
  
print(a2 is b2) 
  
 
print(a3 is b3)

10914560
10914560
True
False
False



> **Membership operators:** **in** and **not in** are the membership operators; used to test whether a value or variable is in a sequence

*   **in**   ==>         True if value is found in the sequence
*  **not in**  ==>     True if value is not found in the sequence

In [0]:

# Examples of Membership operator 
x = 'Geeks for Geeks'
y = {3:'a',4:'b'} 
  
  
print('G' in x) 
  
print('geeks' not in x) 
  
print('Geeks' not in x) 
  
print(3 in y) 
  
print('b' in y)

True
True
False
True
False



> **List:**


*   To determine how many items a list has, use the **len()** function
*   To add an item to the end of the list, use the **append()** method
*   To add an item at the specified index, use the **insert()** method

*  append() ==>	Adds an element at the end of the list
*   clear() ==>	Removes all the elements from the list
*   copy() ==> 	Returns a copy of the list
*   count() ==>	Returns the number of elements with the specified value
*   extend() ==> Add the elements of a list (multiple elements), to the end of the current list
*  index() ==>	Returns the index of the first element with the specified value
*  insert() ==>	Adds an element at the specified position
*  pop() ==>	Removes the element at the specified position or or the last                     item if index is not specified
*  remove() ==>	Removes the item with the specified value
*  reverse() ==>	Reverses the order of the list
*  sort() ==>	Sorts the list
*  del ==> The del keyword removes the specified index or delete the list completely

In [0]:
a=[1,2,3,"gautam","reddy",'a','b',1]
print(len(a))
a.append('c') #adding 1 value at the end of the list
print(a)
c=[2,34,1,21,2,31,4,1]
c.sort()
print(c)
a.insert(1,'d')#adding value at a particular position in the list
print(a)
b=a.copy()
print(b)
a.extend([11,12])#for adding multiple position at the end of the string
print(a)
print(a.count(1))#for displaying number of repeated elements
b.remove(1) #for removing 1 element from the list
print(b)
b.pop()
print(b)
del b[1:3]
print(b)
b.clear()
print(b)
del b
# print(b) #this will raise an error because the List is no longer exists

8
[1, 2, 3, 'gautam', 'reddy', 'a', 'b', 1, 'c']
[1, 1, 2, 2, 4, 21, 31, 34]
[1, 'd', 2, 3, 'gautam', 'reddy', 'a', 'b', 1, 'c']
[1, 'd', 2, 3, 'gautam', 'reddy', 'a', 'b', 1, 'c']
[1, 'd', 2, 3, 'gautam', 'reddy', 'a', 'b', 1, 'c', 11, 12]
2
['d', 2, 3, 'gautam', 'reddy', 'a', 'b', 1, 'c']
['d', 2, 3, 'gautam', 'reddy', 'a', 'b', 1]
['d', 'gautam', 'reddy', 'a', 'b', 1]
[]



> **Tuple:**

*   **len():** To determine how many items a tuple has, use the **len()** method

*   To create a tuple with only one item, you have add a comma after the item, unless Python will not recognize the variable as a tuple.
*   Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely

*   **del**: **del** keyword can delete the tuple completely

In [0]:
t=("apple", "banana", "cherry")
print(t)
ta=(1)
print(type(ta))
tb=(12,)
print(type(tb))
print(len(t))
del t
# print(t)

('apple', 'banana', 'cherry')
<class 'int'>
<class 'tuple'>
3

NameError: ignored



> **Set:**

*   **add()**: To add one item to a set use the **add()** method
*   **update()**: To add more than one item to a set use the **update()** method
*   **len():** To determine how many items a set has, use the **len()** method
*  **remove()**: To remove an item from the set,If the item to remove does not exist, **remove()** will raise an error
*   **discard()**: To remove an item from the set,If the item to remove does not exist, **discard()** will not raise an error
*   **pop()**:Removes the last item by using the pop() method,Remember that sets are unordered, so you will not know what item that gets removed
*   **clear()**: The **clear()** method empties the set
*  **del**: The **del** keyword will delete the set completely

In [0]:
s0=set()
print(s0)
s={'apple','banana','mango','grapes','papaya','water melon'}
print(s)
s.add('orange')
print(s)
s.update(['cherry','strawberry'])
print(s)
print(len(s))
s.remove('papaya')
print(s)
s0.discard(1)
print(s0)
s1=s.pop()
print(s1)
s.clear()
print(s)
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1) 

del s0
#print(s0)

set()
{'banana', 'apple', 'grapes', 'water melon', 'papaya', 'mango'}
{'banana', 'apple', 'orange', 'grapes', 'water melon', 'papaya', 'mango'}
{'strawberry', 'banana', 'apple', 'orange', 'grapes', 'water melon', 'cherry', 'papaya', 'mango'}
9
{'strawberry', 'banana', 'apple', 'orange', 'grapes', 'water melon', 'cherry', 'mango'}
set()
strawberry
set()
{1, 2, 3, 'b', 'a', 'c'}



> **Dict:**



*   You can access the items of a dictionary by referring to its key name, inside square brackets 

*   **get():**You can access the items of a dictionary using **get()**

*   **len():** To determine how many items a dict has, use the **len()** method
*   Adding an item to the dictionary is done by using a new index key and assigning a value to it


*   **pop():** The pop() method removes the item with the specified key name


*   **popitem():** The popitem() method removes the last inserted item
*   **del:** The del keyword removes the item with the specified key name
*   The **del** keyword can also delete the dictionary completely
*   **clear():** The clear() method empties the dictionary
*   **copy():** Make a copy of a dictionary with the copy() method
*   Another way to make a copy is to use the built-in method dict()
*  **items():**	Returns a list containing a tuple for each key value pair
*   **keys():**	Returns a list containing the dictionary's keys
*  **update():**	Updates the dictionary with the specified key-value pairs
*  **values():**	Returns a list of all the values in the dictionary
*  **fromkeys():**	Returns a dictionary with the specified keys and value

In [0]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict)

x = dict.get("model")
print(x)
dict["year"] = 2018 # change the value of a specific item by referring to its key name
print(dict)
print(len(dict))
dict["color"] = "red" # adding element to  an dictonary
print(dict)
dict.pop('color')
print(dict)
dict.popitem()
print(dict)

dicta=dict.copy()
print(dicta)
dicta.clear()
print(dicta)
del dicta
# print(dicta)
dict.keys()

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'model': 'Mustang'}
{}

dict_keys(['brand', 'model'])



> **If,else,elif:** Python supports the usual logical conditions from mathematics:


*  Equals: a == b
*  Not Equals: a != b
*  Less than: a < b
*  Less than or equal to: a <= b
*  Greater than: a > b
*  Greater than or equal to: a >= b
*   These conditions can be used in several ways, most commonly in **"if statements"** and **"loops"**.
*   An **"if statement**" is written by using the **if** keyword
* The **elif** keyword is pythons way of saying **"if the previous conditions were not true, then try this condition"**
*  The **else** keyword catches anything which isn't caught by the preceding conditions
*  **Nested If:** You can have if statements inside if statements, this is called nested if statements

In [0]:
# program using if
a = 33
b = 200
if b > a:
  print("b is greater than a") # you will get an error

b is greater than a

In [0]:
# program using if and elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [0]:
# program using if,elif,else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [0]:
# program using Nested if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20")
  else:
    print("but not above 20.")

Above ten,
and also above 20

In [0]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: ignored

In [0]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [0]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary();
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [0]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [0]:
for x in range(0, 5.6, 1):
  print(x)

TypeError: ignored

In [0]:
var= "James Bond"
print(var[2::2])

msBn



> **For:** 
*   A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)
*   With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc
*   Even strings are iterable objects, they contain a sequence of characters
*   The **else** keyword in a **for** loop specifies a block of code to be executed when the loop is finished
*   **Nested Loops :** A nested loop is a loop inside a loop.The "inner loop" will be executed one time for each iteration of the "outer loop"
*   **pass :**for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error
*   **break :**With the break statement we can stop the loop before it has looped through all the items
*   **continue :**With the continue statement we can stop the current iteration of the loop, and continue with the next

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [0]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [0]:
# beak: Exit the loop when x is "banana"
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [0]:
# continue  =>if Do not want banana
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [0]:
for x in range(6):
  print(x)
  if (x==10):
    print('1 exists')
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [0]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [0]:
# pass:
for x in [0, 1, 2]:
  pass

In [0]:
b=0xa5
print(b)

165



> **while :**


*   With the **while** loop we can execute a set of statements as long as a condition is true
*  remember to increment i, or else the loop will continue forever
*   **break** :With the break statement we can stop the loop even if the while condition is true
*  **continue :**With the continue statement we can stop the current iteration of the loop, and continue with the next
* **else :**With the else statement we can run a block of code once when the condition no longer is true

In [0]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [0]:
# Exit the loop when i is 3
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [0]:
# Continue to the next iteration if i is 3
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [0]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6



> **Functions:**
 *  function is a block of code which only runs when it is called.
 *   You can pass data, known as parameters, into a function.
 *  A function can return data as a result


> **Creating a Function :**
*  In Python a function is defined using the **def** keyword, It must be followed by the **function name** and the **parenthesized list of formal parameters**

> **calling a Function :**
* To call a function, use the **function name** followed by parenthesis



> **Arguments :**
*  Information can be passed into functions as arguments
* Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma



> **Parameters or Arguments? :**
* From a function's perspective:
  * A **parameter** is the variable listed inside the parentheses in the function definition
  * An **argument** is the value that are sent to the function when it is called

> **Number of Arguments :**
* By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less
* If you try to call the function with 1 or 3 arguments, you will get an error



> **Recurssive function :**
*  A function call itself, i.e. same function call multiple times

In [0]:
def basics():
  print('This is a basic of python')
basics()

This is a basic of python

In [0]:
# The following example has a function with one argument (name)
def student(name):
  print('my name is',name)
student('gowtham')# When the function is called, we pass along a first name, which is used inside the function to print the full name

my name is gowtham

In [0]:
def student(name,rollno):
  print('my name is',name,'And my rollno is',rollno)
  return student
student('gowtham',11)

print(student('gowtham',11))

my name is gowtham And my rollno is 11
my name is gowtham And my rollno is 11
<function student at 0x7fa1f11ed048>

In [0]:
def student(name,rollno):
  print('my name is',name,'And my rollno is',rollno)
student('gowtham')# Error: This function expects 2 arguments, but gets only 1

TypeError: ignored

In [0]:
def fib(n):
  a,b=0,1
  while(a<n):
    print(a,end=' ')
    a,b=b,a+b
fib(50)

0 1 1 2 3 5 8 13 21 34

In [0]:
# prime numbers using function
def prime(num):
  print("Prime numbers are")

  for num in range(num):
   # all prime numbers are greater than 1
    if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)
prime(10)

Prime numbers are
2
3
5
7

In [0]:
# factorial using function
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)
fact(10)


num=[1,2,3,4]
num2=[5,6,7,8]
list(map(fact,num))

[1, 2, 6, 24]

In [0]:

x=int(3)
print(x)

3



> **Anonymous function :**
*  function declared without name
* Instant use only (only one time usage) e.g : **lambda**,**filter**,**map**,**reduce** function
* Not required any **return** statement



> **Lambda :**
*  A lambda function is a small anonymous function
*  A lambda function can take any number of arguments, but can only have one expression
*  **Syntax ==> lambda arguments : expression**



> **Map :**
*  The **map()** function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.
*  **Syntax ==> map(function,sequence)**
* Applicable for multiple iterables



> **Filter :**
* The **filter()** function returns an iterator were the items are filtered through a function to test if the item is accepted or not
*  **Syntax ==> filter(function,iterables)**
* Applicable only for one iterable 

> **Reduce :**
* **Syntax ==> reduce(function,iterables)**
* we have to **import functools** to use reduce
* Applicable only for one iterable

In [0]:
# A lambda function that adds 10 to the number passed in as an argument, and print the result
x = lambda a : a + 10
print(x(5))

# A lambda function that multiplies argument a with argument b and print the result
x = lambda a, b : a * b
print(x(5, 6))

# A lambda function that sums argument a, b, and c and print the result
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

15
30
13

In [0]:
a=[1,2,3,4]
set(map(lambda x : x*x*x,a))
# b=[1,2,2,2]
# tuple(map (lambda a,b:a+b,a,b))

{1, 8, 27, 64}

In [0]:
set(filter(lambda x:x%2!=0,range(1,11)))

{1, 3, 5, 7, 9}

In [0]:
import functools
num=[1,2,2,7,8,9]
functools.reduce(lambda x,y:x*y,num)

2016



> **Arguments:**


*   Positional Arguments

*   Keyword Arguments
*   Default Arguments


*   Vararg Arguments
* Keyword Arguments or **kwargs



> **Default Arguments :**
* If we call the function without argument, it uses the default value

> **Keyword Arguments :**
* send arguments with the **key = value** syntax
* This way the order of the arguments does not matter

> **Positional Argument :**
* In this the order of the arguments is important

> **Vararg Arguments :**
* If the number of arguments is unknown, Then we use Vararg arguments 
* Add it is declared by * before the parameter name

> **Arbitrary Keyword Arguments or kwargs:**
* If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
* This way the function will receive a dictionary of arguments, and can access the items accordingly
* Type of kwargs is dict

In [0]:
#  Default Argument

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [0]:
# Keyword Arguments

def my_function(animal3, animal2, animal1):
  print("The King of forest is " + animal3)

my_function(animal1 = "Tiger", animal2 = "Elephant", animal3 = "Lion")

The King of forest is Lion

In [0]:
# Positional Arguments

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Gowtham", "Reddy")

Gowtham Reddy

In [0]:
# Vararg Arguments
def my_function(*animals):
  print("The smallest animal is " + animals[2])

my_function("rabbit", "dog", "rat","elephant")

The smallest animal is rat

In [0]:
# **Kwargs

def my_function(**name):
  print(type(name))
  print("His last name is " + name["mname"])

my_function(fname = "gowtham", lname = "reddy",mname="N")

<class 'dict'>
His last name is N

In [0]:
# Vararg

def sum(*n):
  result=0
  for x in n:
    result=result+x
  print("The sum is",result)
sum()
sum(10,20)
sum(10,20,30,40)

The sum is 0
The sum is 30
The sum is 100

> **Arguments rules:**
* first we have to positional arguments then followed by keyword arguments
* positional arguments followed by vararg argument we can pass directly
* vararg argument followed by positional arguments, then while calling we have pass positional arguments as keyword aruments
* Default Arguments to be declared at the end

In [0]:
def f(a1,a2,a3=30,a4=40):
  print(a1,a2,a3,a4)
f(1,2)
f(1,2,30)
f(1,2,a4=100)
f(1,2,a4=20,a3=60)
f(1,2,a3=30,a5=40)

1 2 30 40
1 2 30 40
1 2 30 100
1 2 60 20

TypeError: ignored

In [0]:
def sum(*n,name):
  result=0
  for x in n:
    result=result+x
  print("The sum is",result,name)
sum(name='Gautam')
sum(10,20,name='Reddy')
sum(10,20,30,40,name='N')

The sum is 0 Gautam
The sum is 30 Reddy
The sum is 100 N

In [0]:
def sum(name,*n):
  result=0
  for x in n:
    result=result+x
  print("The sum is",result,name)
sum('Gautam')
sum('Reddy',10,20)
sum('N',10,20,30,40)

The sum is 0 Gautam
The sum is 30 Reddy
The sum is 100 N